.container {
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
  padding : 0;

}

.form {
    display: flex;
    /* flex-direction: column; */
    flex: 1;
    /* margin-bottom: 100px; */


}


.item {
    margin-right: 40px; 
    width: 4rem;
     background-color: aqua; 
}

.button {
    /* height: 2rem; */
    background-color: orange;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input {
    /* height: 2rem; */
    border: none;
    margin-right: 1rem;
    border-radius: 2px;
  
}

@media (min-width: 280px) and (max-width: 480px) {
    .container{
        /* display: block; */
       
    }

    .input {
        height: 2rem;
        border: none;
        margin-right: 1rem;
        border-radius: 2px;
        margin-bottom: 10px;
    }
    .form {
        display: flex;
        flex-direction: column;
        flex: 1;
        /* margin-bottom: 100px; */
    
    
    }
}