.container {
  background-color: #9d360a;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: linear-gradient(90deg,
      rgb(146, 216, 239) 0%,
      rgb(241, 110, 50) 100%)
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.container .sideBar {
  margin-right: auto;
  flex: 1;
}

.container .main {
  flex: 5;
}






/* .container {
 
  height: 100vh;
  max-height: 100%;
  background: #15326b;
  width: 17vw;
  color: #fff;
  overflow-y: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -1rem;
  position: fixed;
  user-select: none;
  z-index: 999;
} */