.container {
        height: 550px;
        max-height: 100%;
        background:rgba(255, 255, 255, 0.2);
        width: 17vw;
        color: black;
        overflow-y: auto;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 20px;
        user-select: none;
        z-index: 999;
        margin-right: 850px;
        position:relative;
      }
.container .planner{
    background-color: #15326b;
    display: flex;
    justify-content: center;
    color: rgb(242, 236, 236);
}
     

.sideBarlist {
    width: 100%;
    height: auto;
    padding: 0;

}


.sideBarlist .row {
    width: 100%;
    height: 40px;
    list-style-type: none;
    margin: 0;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sideBarlist .row:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.sideBarlist .row #active {
    background-color: rgb(173, 122, 220)
}

.row .icon {
    flex: 30%;
    display: grid;
    place-items: center;

}

.row .title {
    flex: 70%;

}

.logout {
    margin-bottom: auto;
    justify-content: center;
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 15px;
}

